header {
    position: fixed;
    left: 0px;
    width: 100%;
    z-index: 9999999;
    top: -100px;
    transform: translateY(100px);
    transition: 0.3s;

    .logo {
        filter: brightness(0) invert(1);
    }

    .nav-bar {
        li {
            margin-right: 20px;
            font-size: 20px;
            font-family: $general-fonts;
            color: white;

            &:last-child {
                margin-right: 0px;
            }
        }
    }

    .right-btn {
        gap: 20px;

        .custom-btn {
            background-color: transparent;
            border: 2px solid white;
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 30px;
            color: white;
        }
    }
}

header.scrolled {
    background-color: white;
    padding: 10px 0px;
    box-shadow: 0px 0px 3px rgba(28, 28, 28, 0.382);

    .logo {
        filter: none;
    }

    .nav-bar {
        li {
            color: black;


        }
    }

    .right-btn {
        gap: 20px;

        .custom-btn {
            border: 2px solid $primary-color;
            color: $primary-color;

        }

        button {
            color: black;
        }
    }
}

.mysidenav{
    height: 0px;
    display: none;
    padding: 100px 0px;
    .container{
        .col-heading{
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 20px;
        }
        ul{
            padding-left: 0px !important;
            li{
                margin-bottom: 10px;
                display: flex;
                gap: 10px;
                text-transform: capitalize;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.closesidenav{
    background-color: $secondary-color;
    border: none;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
    margin-left: auto;
    display: block;
}
.mysidenav.show{
    height: 100vh;
    display: block;
}